    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap'); 
    
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    :root{
--cyan: #34B0BE;
--gray: #D1CECA;
--black: #242635;
--white: #FFFFFF;
    }
    body{
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    }

nav{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
    margin-bottom: 1.5rem;
}

nav >ul :hover{
color: var(--cyan);
    }


input#menu-hamburguesa{
    visibility: hidden;

   }

input#menu-hamburguesa ~ ul{

    background-color: var(--black);
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    z-index: 30;
}

  input#menu-hamburguesa:checked ~ ul{
    display: flex;
}


  header{
    background-color: var(--black);
    position: relative;
           }
   
 .section-header{
     padding-top: 2rem;
    display: flex;
    color: var(--white);
    justify-content: center;
             }

 .imagen-e >img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    z-index: 4;
    top: 0.5rem;
    left: 1.5rem;
    
    }
 .imagen-e>h4{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: var(--gray);
        opacity: 30%;
        width: 250px;
        height: 250px;
        z-index: 3;
        border-radius: 80%;
        top: -14.8rem;
        left: -.5rem;
    }

 .header-presentacion{
    position: relative;
    z-index: 23;
    left: 4rem;
    top: -2rem;
                   }   
                 
 .header-presentacion >h1>span{
    font-size: 50px;
    color: var(--cyan);
    border-bottom: solid #FFFFFF;
    padding-bottom: 0.5rem;
}
 .header-presentacion>p{
    font-size: 18px;
}













  
.experiencia{
    position: relative;
    display: flex;
    justify-content: center;
    right: 5rem;
    color: var(--cyan); 
    font-size: 18px;
    top: -1rem;
}
.experiencia>p>span{
    color: var(--cyan);
            
            }  
.experiencia>p{
    color: white;
      
          }

    
    .social-icon{
        background-color: var(--white);
        width: 35px;
        height: 35px;
        opacity: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: 9rem;
        z-index: 16;
        
    }
    .linkedin-icon{
        margin-left: 9rem;
    }
    .ins-icon{
        margin-left: 14.5rem;
    }
    .twitter-icon{
        margin-left: 20rem;
    }



.trabajos-anteriores>h3{
    background-color: gray;
    width: 330px;
    height: 60px;
    border: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    margin-left: -10rem;
    z-index: 13;
    top: 12rem;
 
    }

    .trabajos-anteriores{
        position: absolute;
    }

.icons{
    background-color: var(--gray);
    position: absolute;
    border: 2px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    z-index: 14;
}
.google-icon{
    top: 12.5rem;
    left: -8rem;
}
.amazon-icon{
    top: 12.5rem;
    left: -2rem;
}
.spotify-icon{
    top: 12.5rem;
    left: 4rem;
}



.parent{
    display: block;
    position: relative;
}


.acercademi{
      width: 100%;
      margin-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      
}

.acercademi>h5{
    color: var(--cyan);
    margin-left: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8rem;
    font-size: 32px;
    
}
  

.acercademi>p{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 380px;
    margin-right: 3rem;
    margin-left: 1.5rem;
    letter-spacing: 1.5px;
    top: -3.5rem;

}

.seccion3{
    position: relative;
}



.seccion3{
    padding: 1rem;
  
}

.scroll-horizontal{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: scroll;
}

.servicios-card{
    height: 300px;
    min-width: 320px;
    background-color: var(--white);
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 5px;
    background-image: url(../images/Vectores/Ellipse\ 14.svg) ;
    background-repeat: no-repeat;
    
}



.servicios-card>img{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.seccion3>h6{
    padding-top: 1rem;
    padding-bottom: 2rem;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    color: var(--cyan);
}
.servicios-card>h7{
    
    color: var(--black);
    font-size: 18px;
}
.servicios-card>h8{
    color: var(--black);
    font-size: 18px;
}
.servicios-card>h9{
    
    color: var(--black);
    font-size: 18px;
}
.servicios-card>p{
    padding-top: 14px;
    color: var(--black);
    font-size: 16px;
}














@media screen and ( min-width:780px ) {

    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }
}
