    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap'); 
    
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    :root{
--cyan: #34B0BE;
--gray: #D1CECA;
--black: #242635;
--white: #FFFFFF;
    }
    body{
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    }

nav{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
    margin-bottom: 1.5rem;
}

nav >ul :hover{
color: var(--cyan);
    }


input#menu-hamburguesa{
    visibility: hidden;

   }

input#menu-hamburguesa ~ ul{

    background-color: var(--black);
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    z-index: 30;
}

  input#menu-hamburguesa:checked ~ ul{
    display: flex;
}


  header{
    background-color: var(--black);
    position: relative;
           }
   
 .section-header{
    display: flex;
    color: var(--white);
    justify-content: center;
             }

 .imagen-e >img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    z-index: 4;
    top: 1.5rem;
    }
 .imagen-e>h4{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: var(--gray);
        opacity: 20%;
        width: 280px;
        height: 280px;
        z-index: 3;
        border-radius: 80%;
        top: -15.8rem;
        left: -2.5rem;
    }

 .header-presentacion{
    position: relative;
    z-index: 23;
    left: 2rem;
    top: -2rem;
                   }   
                 
 .header-presentacion >h1>span{
    font-size: 50px;
    color: var(--cyan);
    border-bottom: solid #FFFFFF;
    padding-bottom: 0.5rem;
}
 .header-presentacion>p{
    font-size: 18px;
}













  

.experiencia>h2{
    color: var(--cyan);
    display: flex;
    font-size: 18px;
    position: absolute;
    right: 6rem;
    top: -1rem;
     }
.experiencia>p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    right: 6rem;
    top: -2rem;
   }
  
    
    .social-icon{
        background-color: var(--white);
        width: 35px;
        height: 35px;
        opacity: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: 8rem;
        z-index: 16;
        
    }
    .linkedin-icon{
        margin-left: 9rem;
    }
    .ins-icon{
        margin-left: 15rem;
    }
    .twitter-icon{
        margin-left: 21rem;
    }



.trabajos-anteriores>h3{
    background-color: var(--gray);
    opacity: 20%;
    width: 400px;
    height: 60px;
    border: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    margin-left: -30rem;
    z-index: 13;
    top: 20.2rem;
 
    }
.icons{
    background-color: var(--gray);
    position: absolute;
    border: 2px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
        z-index: 14;
}
.google-icon{
    top: 15.5rem;
    left: -27rem;
}
.amazon-icon{
    top: 13rem;
    left: -20rem;
}
.spotify-icon{
    top: 10.5rem;
    left: -13rem;
}







   
@media screen and ( min-width:780px ) {

    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }
}
